metadata/force-app/main/default/flows/Clone_Tzio_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Determines whether the content requires revision before publication.</description>
        <name>DoesContentNeedRevision</name>
        <label>Does Content Require Revision?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>ReadyContentForPublication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsReviseContent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WithdrawReviewRequest.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApproveOrRequestRevision.Outputs.Decision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviseContent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetLastComment</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!ReviseAndResubmitContent.Outputs.Feedback})) &amp;&amp; NOT(ISBLANK({!ReviseAndResubmitContent.Outputs.Feedback})), {!ReviseAndResubmitContent.Outputs.Feedback}, {!SubmitReviewRequest.Outputs.Feedback})</expression>
    </formulas>
    <interviewLabel>Clone Tzio Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Tzio Flow</label>
    <orchestratedStages>
        <description>Sets the content variant&apos;s modification status to true and publication readiness status to false. Then allows the content author to provide comments before submitting the review request.</description>
        <name>InitiateContentReviewRequest</name>
        <label>Initiate Content Review Request</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>ReviewContent</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>After a workflow begins, the associated content can&apos;t be published until it is approved.</description>
            <name>Prevent_Content_Publication</name>
            <actionName>managedContentVariantSetReadyStepBackground</actionName>
            <actionType>managedContentVariantSetReadyStepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__IsReady</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <label>Prevent Content Publication</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentVariantSetReadyBackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>After a workflow begins, the associated content must be unlocked and edits should be allowed.</description>
            <name>Allow_Content_Edits</name>
            <actionName>managedContentVariantSetLockStepBackground</actionName>
            <actionType>managedContentVariantSetLockStepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Prevent_Content_Publication.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__IsLocked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <label>Allow Content Edits</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentVariantSetLockBackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Allows the content author to add comments to their request and to submit the content variant for review.</description>
            <name>SubmitReviewRequest</name>
            <actionName>cms_orch__CMS_ReviseContent</actionName>
            <actionType>managedContentRoleStepInteractive</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Allow_Content_Edits.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__MContentRoleDevName</name>
                <value>
                    <stringValue>ContentAuthor_INTERNAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>MContentVariantId</elementReference>
                </value>
            </inputParameters>
            <label>Submit Review Request</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentRoleInteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Notifies the content author that their content variant has been approved, and sets the publication readiness status of the content variant to true.</description>
        <name>ReadyContentForPublication</name>
        <label>Ready Content for Publication</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Notifies the content author that their content variant has been approved for publication, and allows the content author to conditionally view the final feedback for the content variant.</description>
            <name>ApprovedContent</name>
            <actionName>cms_orch__CMS_NotifyRequester</actionName>
            <actionType>managedContentRoleStepInteractive</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Feedback</name>
                <value>
                    <elementReference>ApproveOrRequestRevision.Outputs.Feedback</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__MContentRoleDevName</name>
                <value>
                    <stringValue>ContentAuthor_INTERNAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Reviewer</name>
                <value>
                    <elementReference>ApproveOrRequestRevision.Outputs.Reviewer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>MContentVariantId</elementReference>
                </value>
            </inputParameters>
            <label>Approved Content</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentRoleInteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Sets the publication readiness status of the content variant to true.</description>
            <name>AllowContentPublication</name>
            <actionName>managedContentVariantSetReadyStepBackground</actionName>
            <actionType>managedContentVariantSetReadyStepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>ApprovedContent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__IsReady</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Allow Content Publication</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentVariantSetReadyBackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Sets the content variant modification status to false. Allows the content manager to approve or request revisions to the content or allows the content author to withdraw the request.</description>
        <name>ReviewContent</name>
        <label>Review Content</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>DoesContentNeedRevision</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>FirstStepStatus</name>
            <value>
                <elementReference>WithdrawReviewRequest.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>SecondStepStatus</name>
            <value>
                <elementReference>ApproveOrRequestRevision.Status</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionName>cms_orch__CMS_EvalApprovalStepStatus</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Sets the modification status of the content variant to false.</description>
            <name>PreventContentModifications</name>
            <actionName>managedContentVariantSetLockStepBackground</actionName>
            <actionType>managedContentVariantSetLockStepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__IsLocked</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Prevent Content Modifications</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentVariantSetLockBackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Allows a content manager to conditionally view a content author&apos;s feedback, provide revision comments, and approve or request revisions of a content variant.</description>
            <name>ApproveOrRequestRevision</name>
            <actionName>cms_orch__CMS_ReviewContent</actionName>
            <actionType>managedContentRoleStepInteractive</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>PreventContentModifications.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Feedback</name>
                <value>
                    <elementReference>GetLastComment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__MContentRoleDevName</name>
                <value>
                    <stringValue>ContentManager_INTERNAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>MContentVariantId</elementReference>
                </value>
            </inputParameters>
            <label>Approve or Request Revision</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentRoleInteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Allows a content author to withdraw the review request in order to make changes to the content variant.</description>
            <name>WithdrawReviewRequest</name>
            <actionName>cms_orch__CMS_WithdrawReviewRequest</actionName>
            <actionType>managedContentRoleStepInteractive</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>PreventContentModifications.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__MContentRoleDevName</name>
                <value>
                    <stringValue>ContentAuthor_INTERNAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>MContentVariantId</elementReference>
                </value>
            </inputParameters>
            <label>Withdraw Review Request</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentRoleInteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Sets the content variant&apos;s modification status to true and then allows the content author to review content manager feedback and provide comments before resubmitting the review request.</description>
        <name>ReviseContent</name>
        <label>Revise Content</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ReviewContent</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Set the modification status of the content variant to true.</description>
            <name>AllowContentModification</name>
            <actionName>managedContentVariantSetLockStepBackground</actionName>
            <actionType>managedContentVariantSetLockStepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__IsLocked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <label>Allow Content Modification</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentVariantSetLockBackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Allows a content author to conditionally view a reviewer&apos;s feedback, provide revision comments, and resubmit a content variant for review.</description>
            <name>ReviseAndResubmitContent</name>
            <actionName>cms_orch__CMS_ReviseContent</actionName>
            <actionType>managedContentRoleStepInteractive</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>AllowContentModification.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>Feedback</name>
                <value>
                    <elementReference>ApproveOrRequestRevision.Outputs.Feedback</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__MContentRoleDevName</name>
                <value>
                    <stringValue>ContentAuthor_INTERNAL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Reviewer</name>
                <value>
                    <elementReference>ApproveOrRequestRevision.Outputs.Reviewer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>MContentVariantId</elementReference>
                </value>
            </inputParameters>
            <label>Revise and Resubmit Content</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>ManagedContentRoleInteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>ManagedContentAuthoringWorkflow</processType>
    <sourceTemplate>cms_orch__CMS_BasicApprovalRequest</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InitiateContentReviewRequest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Required for a Managed Content Authoring Workflow (Beta) orchestration. Is passed into the orchestration.</description>
        <name>MContentSpaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Required for CMS Orchestration. Stores the ID of the managed content variant for the review request and is passed into the orchestration.</description>
        <name>MContentVariantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
