metadata/force-app/main/default/flows/flow_complex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>any</name>
        <label>any</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <actionName>Case.LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>ass_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>var.predictedClass</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>app</name>
        <label>app</label>
        <locationX>182</locationX>
        <locationY>554</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>des</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>any</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>gr2</name>
        <label>gr2</label>
        <locationX>314</locationX>
        <locationY>794</locationY>
        <actionName>NewGroup</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CollaborationType</name>
            <value>
                <elementReference>any</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>des2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewGroup</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ass3</name>
        <label>ass3</label>
        <locationX>50</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>app.actorIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ass_2</name>
        <label>ass 2</label>
        <locationX>182</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>var.predictedClass</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>app</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>des</name>
        <label>des</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>gr2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>des2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>any</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass3</targetReference>
            </connector>
            <label>des2</label>
        </rules>
    </decisions>
    <interviewLabel>flow complex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow complex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <stages>
        <name>stage</name>
        <isActive>false</isActive>
        <label>stage</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>any</targetReference>
        </connector>
        <object>FlowExecutionErrorEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var</name>
        <apexClass>ConnectApi__SmartDataDiscoveryMulticlassProbability</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
