metadata/force-app/main/default/flows/platform_email_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email</name>
        <label>email</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>create</targetReference>
        </connector>
        <faultConnector>
            <targetReference>hjfj</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>hjfj</name>
        <label>hjfj</label>
        <locationX>440</locationX>
        <locationY>314</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>activateSessionPermSet</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>platform email flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>platform email flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <inputReference>$Record</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>email</targetReference>
        </connector>
        <object>ProcessExceptionEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
